section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/*
Source - https://stackoverflow.com/a/2906586
Posted by BalusC, modified by community. See post 'Timeline' for change history
Retrieved 2026-05-12, License - CC BY-SA 4.0
*/

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
