section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-family: "Tahoma";
}

input {
    border-radius: 20px;
    border-color: black;
    background-color: white;
    padding: auto;
}

input::file-selector-button {
  font-weight: bold;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 20px;
}