<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="../static/svg/dcc.svg">
    {% block css %}{% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    <link rel="stylesheet" href="../static/css/navbar.css">
  </head>
  <body>
    <ul>
        <li>
            <a href="https://dcc.uchile.cl">
              DCC
            </a>
        </li>
        <li>
            <a href="{{ url_for('portada')}}">
              Inicio
            </a>
        </li>
        <li>
          <a href="{{ url_for('miembros')}}">
            Nuestros miembros
          </a>
        </li>
        <li>
          <a href="{{ url_for('estadisticas')}}">
            Estadísticas
          </a>
        </li>
        {% if user %}
        <li>
          <a href="{{ url_for('portada')}}">
            {{ user }}
          </a>
        </li>
        <li>
          <a href="{{ url_for('logout')}}">
            Log-out
          </a>
        </li>
        {% else %}
        <li>
          <a href="{{ url_for('registrar')}}">
            Registrate!
          </a>
        </li>
        <li>
          <a href="{{ url_for('login')}}">
            Log-in
          </a>
        </li>
        {% endif %}
    </ul>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
  </body>
</html>