{% extends 'base.html' %}

{% block title %}

DCC - Area de calidad de vida

{% endblock %}

{% block css %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/portada.css') }}"
/>

{% endblock %}

{% block content %}
<section>
    <h1> ¿Que actividades hace el DCC? </h1>
    <a href="{{ url_for('actividades')}}" class="button">Registrar miembro y actividades</a>
    <a href="{{ url_for('portada')}}" class="button">Ver  listado  de  miembros</a>
    <a href="{{ url_for('portada')}}" class="button">Estadísticas (indicadores y métricas)</a>
</section>
<section>
    <h2> Nuestros miembros más recientes </h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Tipo de miembro</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Fecha de registro</th>
        </tr>
        {%for user in users%}
            <tr>
                <td>{{ user.nombre|e }}</td>
                <td>{{ user.tipo|e }}</td>
                <td>{{ user.email|e }}</td>
                <td>+56 9 {{ user.telefono|e }}</td>
                <td>{{ user.fecha_registro|e }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock content %}
